<template>
  <div
    class="c-accordion-root"
  >
    <button
      class="c-accordion-header"
      type="button"
      :aria-expanded="isExpanded"
      :class="{ 'c-accordion-expanded-header': isExpanded }"
      @click="toggleExpandedState"
    >
      <slot
        name="header"
      ></slot>
      <svg viewBox="0 0 32 32" class="c-expand-icon"><path fill="currentColor" d="M16 29L32 3h-7.2L16 18.3 7.2 3H0"></path></svg>
    </button>

    <div
      class="c-accordion-content-wrapper"
      :style="{ height: accordionContentHeight }"
    >
      <div
        ref="accordionContent"
        class="c-accordion-content"
      >
        <slot
          name="content"
        ></slot>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent } from 'vue'

export default defineComponent({
  data: () => ({ isExpanded: false, contentHeight: null as number | null }),
  methods: {
    toggleExpandedState() {
      if (this.isExpanded) {
        this.isExpanded = false
        this.contentHeight = null
      } else {
        const contentEl = this.$refs.accordionContent as HTMLDivElement
        this.isExpanded = true
        this.contentHeight = contentEl.offsetHeight
      }
    },
  },
  computed: {
    accordionContentHeight(): string | null {
      if (!this.contentHeight) {
        return null
      }
      return this.contentHeight + 'px'
    },
  },
})
</script>

<style scoped>
.c-accordion-root {
  width: 100%;
  border-bottom: var(--components-border);
  border-radius: var(--components-border-radius);
  box-sizing: border-box;
}
.c-accordion-header {
  display: flex;
  width: 100%;
  align-items: center;
  background: var(--light-gray);
  transition-duration: var(--default-transition-duration);
  cursor: pointer;
  padding: 12px;
  font-size: 16px;
  font-weight: bold;
  border-radius: inherit;
  border: none;
}
.c-accordion-content {
  padding: 16px;
  background: var(--lightest-gray);
}
.c-accordion-expanded-header {
  background: var(--light-gray);
}
.c-expand-icon {
  height: 1em;
  width: 1em;
  transition-duration: var(--default-transition-duration);
}
.c-accordion-header:hover {
  background: var(--accent);
  color: var(--text-white);
}
.c-accordion-expanded-header .c-expand-icon {
  transform: rotate(180deg);
}
.c-accordion-content-wrapper {
  overflow: hidden;
  height: 0;
  transition-duration: var(--default-transition-duration);
  transition-timing-function: ease-in-out;
}
</style>
