<template>
  <div
    class="c-root"
  >
    <label
      class="c-multiselect-label"
      :for="inputId"
    >
      {{ labelText }}
    </label>

    <div
      class="c-multiselect-wrapper"
    >
      <div
        class="c-multiselect-values"
      >
        <span
          v-for="option in selectedOptions"
          class="c-multiselect-value"
          :key="option.value"
        >
          {{ option.label }}
        </span>
      </div>

      <div
        class="c-options-wrapper"
        tabindex="0"
        @focusin="toggleVisibility"
        @focusout="hide"
      >

        <input :id="inputId" class="c-multiselect-input" />

        <transition
          name="fade"
        >
          <ul
            v-if="isExpanded"
            class="c-options"
          >
            <li
              v-for="option in selectOptions"
              class="c-option"
              :key="option.value"
            >
              <label
                tabindex="0"
                class="c-multiselect-checkbox-label"
                @keypress.enter="selectOption(option)"
              >
                <input
                  @change="selectOption(option)"
                  v-model="option.selected"
                  tabindex="-1"
                  class="c-multiselect-checkbox"
                  type="checkbox"
                />
                {{ option.label }}
              </label>
            </li>
          </ul>
        </transition>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent, PropType } from 'vue'
import { PlatformLabeled } from '@/models/platform.model'

export default defineComponent({
  props: {
    options: {
      type: Array as PropType<PlatformLabeled[]>,
      default: () => [],
    },
    modelValue: {
      type: Array as PropType<string[] | undefined>,
      required: false,
      default: undefined,
    },
    inputId: {
      type: String,
      required: false,
      default: 'multiselectId'
    },
    labelText: {
      type: String,
      required: true,
    },
  },
  data: () => ({
    isExpanded: false,
    timer: null as null | number,
  }),
  computed: {
    selectOptions(): (PlatformLabeled & { selected: boolean })[] {
      const selectOptions = this.options
      if (!selectOptions) {
        return []
      }
      const options = selectOptions.map((option) => ({
        ...option,
        selected: this.modelValue?.includes(option.value) || false,
      }))
      return options
    },
    selectedOptions(): (PlatformLabeled & { selected: boolean })[] {
      const selectOptions = this.selectOptions
      const selectedOptions = selectOptions.filter((option) => option.selected)
      return selectedOptions
    },
  },
  methods: {
    toggleVisibility() {
      this.clearTimer()
      if (!this.isExpanded) {
        this.show()
      }
    },
    show() {
      this.isExpanded = true
    },
    hide: function () {
      this.timer = setTimeout(() => {
        this.isExpanded = false
      })
    },
    clearTimer() {
      if (this.timer) {
          clearTimeout(this.timer)
          this.timer = null
      }
    },
    selectOption: function (option: PlatformLabeled) {
      const currentValue = this.modelValue || []
      const isValueSelected = this.modelValue?.includes(option.value)
      if (!isValueSelected) {
        const newValue = [...currentValue, option.value]
        this.$emit('update:modelValue', newValue)
      }
      if (isValueSelected) {
        const newValue = currentValue.filter((val) => val !== option.value)
        this.$emit('update:modelValue', newValue)
      }
    },
    removeOption(option: PlatformLabeled) {
      const isValueSelected = this.modelValue?.includes(option.value)
      if (isValueSelected) {
        const newValue = this.modelValue?.filter((val) => val !== option.value)
        this.$emit('update:modelValue', newValue || [])
      }
    },
  },
})
</script>

<style scoped>
.c-root {
  display: flex;
  align-items: center;
  height: var(--components-height);
  flex-grow: 1;
  cursor: pointer;
}
.c-multiselect-wrapper {
  position: relative;
  height: 100%;
  border: 1px solid #222;
  width: 100%;
}
.c-multiselect-checkbox-label {
  cursor: pointer;
}
.c-multiselect-label {
  margin-right: 8px;
}
.c-options-wrapper {
  height: 100%;
  overflow: hidden;
}
.c-options {
  background: #fff;
  position: absolute;
  top: 100%;
  left: -1px;
  right: -1px;
  border: var(--components-border);
}
.c-option {
  display: flex;
  width: 100%;
  height: 32px;
  padding: 8px;
  cursor: pointer;
}
.c-multiselect-checkbox {
  cursor: pointer;
  margin-right: 8px;
}
.c-multiselect-values {
  display: flex;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  pointer-events: none;
  align-items: center;
  padding: 0 7px;
}
.c-multiselect-value {
  display: inline-block;
  text-align: left;
  margin-right: 7px;
}
.c-multiselect-input {
  position: absolute;
  z-index: -1;
  height: 0;
  border: none;
}
.fade-enter-active,
.fade-leave-active {
  transition: opacity var(--default-transition-duration) ease;
}
.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}
</style>
