<template>
  <ol
    v-if="totalCount >= countPerPage"
    class="c-paginator"
  >
    <li
      v-for="page in pages"
      class="c-paginator-item"
      :key="page"
    >
      <PaginatorLink
        :pageNumber="page"
        :selectedPage="selectedPage"
        @changePage="$emit('changePage', $event)"
      />
    </li>
  </ol>
</template>

<script lang="ts">
import { defineComponent } from 'vue'
import PaginatorLink from '@/views/PaginatorLink.vue'

export default defineComponent({
  emits: ['changePage'],
  props: {
    totalCount: {
      type: Number,
      required: true,
    },
    countPerPage: {
      type: Number,
      required: true,
    },
    selectedPage: {
      type: Number,
      required: true,
    },
  },
  computed: {
    pages(): number[] {
      const pages: number[] = []
      const pagesCount = Math.ceil(this.totalCount / this.countPerPage)
      for (let i = 1; i <= pagesCount; i++) {
        pages.push(i)
      }
      return pages
    },
  },
  components: {
    PaginatorLink,
  },
})
</script>

<style>
.c-paginator {
  display: flex;
  margin-top: 16px;
}
.c-paginator-item {
  position: relative;
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
}
</style>