<template>
  <a
    href="javascript:void(0)"
    class="c-paginator-link"
    :class="{ 'c-paginator-link-selected': isSelected }"
    @click.prevent="$emit('changePage', pageNumber)"
  >
    {{ pageNumber }}
  </a>
</template>

<script lang="ts">
import { defineComponent } from 'vue'

export default defineComponent({
  props: {
    pageNumber: {
      type: Number,
      required: true,
    },
    selectedPage: {
      type: Number,
      required: true,
    },
  },
  emits: ['changePage'],
  computed: {
    isSelected(): boolean {
      return this.pageNumber === this.selectedPage
    },
  },
})
</script>

<style scoped>
.c-paginator-link {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  transition-duration: var(--default-transition-duration);
}
.c-paginator-link:hover {
  background: var(--light-gray);
}
.c-paginator-link-selected.c-paginator-link-selected {
  color: var(--text-white);
  background: var(--accent);
}
</style>