<template>
  <div
    class="c-range-root"
  >
    <label
      class="c-range-label"
    >
      <span
        class="c-range-text"
      >
        {{ labelMinText }}
      </span>

      <input
        class="c-range-input"
        type="number"
        :min="lowerBoundary"
        :max="high"
        :value="low"
        @input="changeLow"
      />

    </label>

    <label
      class="c-range-label"
    >
      <span
        class="c-range-text"
      >
        {{ labelMaxText }}
      </span>

      <input
        class="c-range-input"
        type="number"
        :min="low"
        :max="upperBoundary"
        :value="high"
        @input="changeHigh"
      />

    </label>
  </div>
</template>

<script lang="ts">
import { defineComponent } from 'vue'

export default defineComponent({
  props: {
    low: {
      type: Number,
      required: false,
      default: undefined,
    },
    high: {
      type: Number,
      required: false,
      default: undefined,
    },
    lowerBoundary: {
      type: Number,
      required: false,
      default: Number.MIN_SAFE_INTEGER,
    },
    upperBoundary: {
      type: Number,
      required: false,
      default: Number.MAX_SAFE_INTEGER,
    },
    labelMinText: {
      type: String,
      required: true
    },
    labelMaxText: {
      type: String,
      required: true
    },
  },
  emits: ['changeLow', 'changeHigh'],
  methods: {
    changeLow(e: InputEvent) {
      const el = e.target as HTMLInputElement
      const value = el.value
      if (+value || value === '0') {
        this.$emit('changeLow', +value)
      } else {
        this.$emit('changeLow', undefined)
      }
    },
    changeHigh(e: InputEvent) {
      const el = e.target as HTMLInputElement
      const value = el.value
      if (+value || value === '0') {
        this.$emit('changeHigh', +value)
      } else {
        this.$emit('changeHigh', undefined)
      }
    },
  },
})
</script>

<style scoped>
.c-range-root {
  display: flex;
}
.c-range-input {
  padding: 4px;
  height: var(--components-height);
}
.c-range-label {
  display: flex;
  align-items: center;
  font-size: 14px;
}
.c-range-label {
  margin-right: 16px;
}
.c-range-text {
  display: inline-block;
  margin-right: 8px;
  min-width: max-content;
  text-align: left;
}
</style>