<template>
  <label
    class="c-search-label"
  >
    <span
      class="c-search-text"
    >
      Search
    </span>

    <input
      class="c-search-input"
      type="search"
      :value="modelValue"
      @input="emitValue"
    />
  </label>
</template>

<script lang="ts">
import { defineComponent } from 'vue'

export default defineComponent({
  props: {
    modelValue: {
      type: String,
      required: false,
      default: '',
    },
  },
  emits: ['upade:modelValue'],
  methods: {
    emitValue(e: InputEvent)  {
      const el = e.target as HTMLInputElement
      const value = el.value
      this.$emit('upade:modelValue', value)
    },
  },
})
</script>

<style scoped>
.c-search-label {
  font-size: 16px;
  display: flex;
  align-items: center;
  margin-right: 16px;
}
.c-search-input {
  padding: 8px;
  height: var(--components-height);
}
.c-search-text {
  display: inline-block;
  margin-right: 8px;
}
</style>