<template>
  <Accordion>
    <template #header>
      <div class="task-header">
        <span class="task-title">{{ task.title }}</span>
        <span class="task-date"></span>
      </div>
    </template>

    <template #content>
      <table class="task-details">
        <tbody>
          <tr>
            <th>Title</th>
            <td>{{ task.title }}</td>
          </tr>

          <tr>
            <th>Description</th>
            <td>{{ task.description }}</td>
          </tr>

          <tr>
            <th>Budget</th>
            <td>{{ task.budget?.value }} {{ task.budget?.currency }}</td>
          </tr>

          <tr>
            <th>Proporsal count</th>
            <td>{{ task.proposalCount }}</td>
          </tr>

          <tr>
            <th>Platforms</th>
            <td>{{ taskPlatforms }}</td>
          </tr>

          <tr>
            <th>Added Time</th>
            <td>{{ formatDate(task.addedTime) }}</td>
          </tr>
        </tbody>
      </table>
    </template>
  </Accordion>
</template>

<script lang="ts">
import { defineComponent, PropType } from 'vue'
import { TaskPublicInfo } from '@/models/task.model'
import { injectRelativeDateFormatter } from '@/helpers/date'
import { PlatformLabeled } from '@/models/platform.model'
import Accordion from '@/views/Accordion.vue'

export default defineComponent({
  setup() {
    const formatDate = injectRelativeDateFormatter()

    return { formatDate }
  },
  props: {
    task: {
      type: Object as PropType<TaskPublicInfo>,
      required: true,
    },
    platforms: {
      type: Array as PropType<PlatformLabeled[]>,
      required: true,
    },
  },
  components: {
    Accordion,
  },
  computed: {
    taskPlatforms(): string {
      const getPlatformLabel = (taskPlatform: string) => this.platforms.find(platform => platform.value === taskPlatform)?.label
      return this.task.platforms.map(getPlatformLabel).join(', ')
    },
  },
})
</script>

<style scoped>
.task-header {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
th, td {
  padding: 4px 8px;
}
</style>