<template>
  <div
    class="filters-root"
  >

    <Search
      :modelValue="searchValue"
      @upade:modelValue="$emit('changeKeywords', $event)"
    />

    <RangeInput
      :low="budgetGreaterEqual"
      :high="budgetLowerEqual"
      :lowerBoundary="0"
      :labelMinText="'Min Budget'"
      :labelMaxText="'Max Budget'"
      @changeHigh="$emit('changeBudgetLowerEqual', $event)"
      @changeLow="$emit('changeBudgetGreaterEqual', $event)"
    />

    <MultiSelect
      :labelText="'Platforms'"
      :options="platforms"
      :modelValue="selectedPlatforms"
      @update:modelValue="$emit('changePlatforms', $event)"
    />

  </div>
</template>

<script lang="ts">
import { PlatformLabeled } from '@/models/platform.model'
import { defineComponent, PropType } from 'vue'
import MultiSelect from '@/views/MultiSelect.vue'
import Search from '@/views/Search.vue'
import RangeInput from '@/views/RangeInput.vue'

export default defineComponent({
  props: {
    platforms: {
      type: Array as PropType<PlatformLabeled[]>,
      required: true,
    },
    selectedPlatforms: {
      type: Array as PropType<string[]>,
      required: false,
      default: undefined,
    },
    budgetLowerEqual: {
      type: Number,
      required: false,
      default: undefined,
    },
    budgetGreaterEqual: {
      type: Number,
      required: false,
      default: undefined,
    },
    keywords: {
      type: Array as PropType<string[] | undefined>,
      required: false,
      default: undefined,
    },
  },
  emits: ['changeKeywords', 'changeBudgetGreaterEqual', 'changeBudgetLowerEqual', 'changePlatforms'],
  computed: {
    searchValue(): string {
      return this.keywords?.join(' ') || ''
    },
  },
  components: {
    MultiSelect,
    RangeInput,
    Search,
  }
})
</script>


<style scoped>
.filters-root {
  display: flex;
  padding: 32px;
}
</style>