<template>
  <main>

    <h1>Tasks Search view</h1>

    <TaskFilters
      :platforms="platforms"
      :selectedPlatforms="filters.platforms"
      :budgetLowerEqual="filters.budgetLowerEqual"
      :budgetGreaterEqual="filters.budgetGreaterEqual"
      :keywords="filters.keywords"
      @changeKeywords="updateKeywords"
      @changeBudgetGreaterEqual="updateBudgetGreaterEqual"
      @changeBudgetLowerEqual="updateBudgetLowerEqual"
      @changePlatforms="updatePlatforms"
    />

    <div
      class="tasks"
    >
      <h2
        class="tasks-header"
      >
        Tasks
      </h2>

      <TaskList
        :tasks="tasksList"
        :platforms="platforms"
      />

      <Paginator
        :countPerPage="tasksPerPage"
        :selectedPage="selectedPage"
        :totalCount="tasksCount"
        @changePage="updatePage"
      />
    </div>
  </main>
</template>

<script lang="ts">
import { defineComponent } from 'vue'
import { tasksPerPage, platforms } from '@/constants/tasks'
import useTasks from '@/components/tasks-search/tasks-search'
import Paginator from '@/views/Paginator.vue'
import TaskFilters from '@/views/TasksFilters.vue'
import TaskList from '@/views/TaskList.vue'

export default defineComponent({
  name: 'TasksSearch',
  data: () => ({ tasksPerPage, platforms }),
  setup() {
    const {
      tasksList,
      tasksCount,
      selectedPage,
      filters,
      updateKeywords,
      updateBudgetLowerEqual,
      updateBudgetGreaterEqual,
      updatePlatforms,
      updatePage,
    } = useTasks()

    return {
      tasksList,
      tasksCount,
      selectedPage,
      filters,
      updateKeywords,
      updateBudgetLowerEqual,
      updateBudgetGreaterEqual,
      updatePlatforms,
      updatePage,
    }
  },
  components: {
    Paginator,
    TaskFilters,
    TaskList,
  }})
</script>

<style scoped>
.tasks {
  text-align: left;
  border: var(--components-border);
  padding: 24px;
}
.tasks-header {
  margin-bottom: 10px;
}
</style>