<template>
  <ul
    v-if="tasks?.length"
    class="tasks-list"
  >
    <li
      v-for="task in tasks"
      :key="task.id"
    >
      <TaskListItem
        :platforms="platforms"
        :task="task"
      />
    </li>
  </ul>
</template>

<script lang="ts">
import  { defineComponent, PropType } from 'vue'
import { TaskPublicInfo } from '@/models/task.model'
import { PlatformLabeled } from '@/models/platform.model'
import TaskListItem from '@/views/TaskListItem.vue'

export default defineComponent({
  props: {
    tasks: {
      type: Array as PropType<TaskPublicInfo[]>,
      required: false,
      default: undefined,
    },
    platforms: {
      type: Array as PropType<PlatformLabeled[]>,
      required: true,
    },
  },
  components: {
    TaskListItem,
  },
})
</script>

<style scoped>

</style>
