:root {
  --components-border: 1px solid #222;
  --components-border-radius: 0;
  --components-height: 42px;

  --accent: #007bb8;
  --light-gray: #dcdcdc;
  --lightest-gray: #eee;

  --text-white: #fff;
  --text-black: #222;

  --default-transition-duration: 0.2s;
}
